@model List<LecturerModel>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text primary">Lecturers list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Lecturers" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> Add new lectutrer
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Lecturer Name
            </th>
            <th>
                Lecturer e-mail
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Name))
            {
                <tr>
                    <td> @obj.Name </td>
                    <td> @obj.Email </td>
                    <td>
                        <div class="w-75 btnbtn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" class="btn btn-delete mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
